.App {
  text-align: center;
}

.App-header {
  background-color: #303040;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  font-family: Cabin;
  letter-spacing: 1px;
}

.Search-container {
  margin-top: 20px;
  transform: translate(0%, -50%);
  background-color: white;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
}

.Search-container:hover > .Search-bar {
  margin-left: 10px;
  width: 250px;
}

.Search-container:hover > .Search-button {
  margin-left: 10px;
  background-color: #303040;
  color: white;
}

.Search-bar {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  font-size: 20px;
  transition: 0.4s;
  line-height: 50px;
  width: 0px;
  font-weight: bold;
}

.Search-button {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.Dish-card {
  min-width: 40vh;
  min-height: 10vh;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin-bottom: 10px;
  background-color: #505050;
}

.Dishes-transition-enter {
  opacity: 0;
}

.Dishes-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.Dishes-transition-exit {
  opacity: 1;
}

.Dishes-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.Dish-name {
  float: left;
}

.Dish-score {
  float: right;
}

.Back-container {
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
}

.Back-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.Back-button:hover {
  transform: scale(1.1);
  font-size: 65%;
}